*{
    padding:0;
    margin:0;
}
.jumbotron .container{
    text-align:center;
}
.row{
    padding: 10px 100px;
    margin-top: 25px;
    min-height:400px;
}

.about{
    background-color:rgba(228, 67, 166, 0.74);
}
    .portrait{
        text-align:center;
    }
    .portrait img{
        max-height:98%;
        max-width:98%;
    }
.technologies{
    background-color:yellow;
}
.technologies img{
    max-width:100px;
    max-height:100px;
}
.projects{
    background-color:pink;
}
.contact{
    background-color:aquamarine;
}
    .contact img{
        max-width: 50px;
        max-height: 50px;

    }
    .back-to-top{
        color:white;
        text-decoration:none;
    }
    .back-to-top:hover{
        color:white;
        text-decoration:none;
    }
.projects img {
    max-width:100px;
    max-height:100px;
}
.form-group{
    width:100%;
}